. {
    position:relative;
    flex:1 0;
    box-sizing:border-box;
    margin-top:var(--spacerhalf);
}
.code {
    display:block;
    position:relative;
    flex:1 0;
    min-height:150px;
    overflow-y:auto;
}
