. {
    width:100%;
    margin-bottom:var(--spacer);
}
table {
    width:100%;
}
TD DIV {
    position:relative;
}
.quiet INPUT {
    border:0;
}
.attribute-title {
    font-weight:bold;
    margin-top:var(--spacer);
    font-size:0.8em;
}
.Button {
    margin-right:0;
}
input {
    width:100% !important;
}

input.invalid {
    border: 1px solid red !important;
}

input.invalid-warning {
    border: 1px solid yellow !important;
}

.invalid-message, .invalid-warning-message {
    display:block;
    position:absolute;
    top:var(--spacerquarter);
    right:var(--spacerquarter);
    bottom:var(--spacerquarter);
    left:var(--spacerquarter);
    overflow:hidden;
    white-space: nowrap;
}

.invalid-message {
    background-color: var(--status-error);
    color: #fff;
}

.invalid-warning-message {
    background-color: var(--status-warning);
}


TD DIV:hover .invalid-message, TD DIV:hover .invalid-warning-message {
    display:none;
}
