. {
    width:100%;
    margin-bottom:var(--spacer);
}
TABLE {
    border:1px solid var(--page-border);
    padding:var(--spacerhalf);
    max-height:250px;
    overflow-y:scroll;
    border-spacing: 0;
}
TR {
    cursor:pointer;
}
TR.selected {
    background-color:var(--action-color);
    color:var(--bg-color);
}
TD {
    vertical-align: top;
}
TD:first-child {
    padding-right:var(--spacer);
}
TD:nth-child(2) {
    font-size:.8em;
}