. {
    flex: 100px 0;
}
.nav-tray {
    overflow-y:auto;
}
A {
    text-decoration:unset;
    color:unset;
}
.nav-button {
    display:flex;
    flex-direction: column;
    width:80px;
    height:80px;
    /*border:1px solid var(--bg-color);*/
    border-radius:20px;
    margin:0 0 var(--spacer) var(--spacer);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    user-select:none;
    transition:all 200ms;
    background-color:var(--bg-color-quiet-d);
}
.nav-button .icon {
    font-size:2em;
}
.nav-button .text {
    align-items:center;
    font-size:0.8em;
}
.nav-button:hover {
    color:var(--text-color);
    background-color:var(--bg-color);
    cursor:pointer;
}
.nav-button:hover .text {
    color:var(--text-color);
}
