. {
    flex: 100px 0;
}
.nav-tray {
    overflow-y:auto;
}
A {
    text-decoration:unset;
    color:unset;
}
.nav-button {
    display:flex;
    flex-direction: column;
    width:80px;
    height:80px;
    border:2px solid var(--page-border);
    border-radius:20px;
    margin:0 0 var(--spacer) var(--spacer);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    user-select:none;
    transition:all 200ms;
}
.nav-button .icon {
    font-size:1.8em;
}
.nav-button .text {
    align-items:center;
    font-size:0.8em;
}
.nav-button:hover {
    background-color:var(--page-action);
    cursor:pointer;
}
