. {
    display:flex;
    height:80%;
    width:100%;
    align-items: center;
    justify-content: center;
}
.login-form {
    display:flex;
    flex-direction: column;
    padding:50px;
    background-color:var(--page-bg);
    border:1px solid var(--page-border);
}
DIV {
    margin:var(--spacer);
}
input,select,button {
    font-size:2em;
}
select {
    width:100%;
}
.login-status {
    margin-left:10px;
    margin-top:5px;
}